@font-face {
	font-family:Titulo;
	src:url(./ARCADECLASSIC.TTF);
}

* {
	font-family:Titulo;
	font-size:40px;
	color:black;
}

body {
    margin:0;
    background-color: rgb(208,255,239);
}

.main-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    margin-top: 0;
    width: 500px;
    height: 500px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}

.start {
    position: absolute;
    height: 8vh;
    top: 46vh;
    left: 44vw;
    width: 12vw;
    min-width:120px;
}

.score {
    position: absolute;
    top:0;
    left:0;
}

.blink {
    animation: blink-animation .2s steps(5, start) infinite;
    -webkit-animation: blink-animation .2s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}